<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sgcdtp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReporteFiscalizador"></activity>
        <activity android:name=".ReporteIncidenciasActivity" />
        <activity android:name=".RecuperarClaveActivity" />
        <activity android:name=".RegistroFiscalizadorActivity" />
        <activity android:name=".RegistroPasajeroActivity" />
        <activity android:name=".RegistroIncidenciasActivity" />
        <activity android:name=".RegistroEmpresaActivity" />
        <activity android:name=".RegistroBusActivity" />
        <activity android:name=".MenuFiscalizadorActivity" />
        <activity android:name=".RegistroProblemaActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>